<!--Copying default page layout-->
{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4"> About Page </h1>
  <p class="lead"> Hello and Welcome to UnlimitedTechWorks </p>
  <hr class="my-4">
  <p> This website is dedicated to sharing knowledge about our growing technological society. All the new devices that
      have been created in this new era have brought a lot of good but at the same time created many dangers and
      inconveniences.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
{% endblock content %}
