<!--Copying default page layout-->
{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4"> About Page </h1>
  <p class="lead"> Hello and Welcome to UnlimitedTechWorks </p>
  <hr class="my-4">
  <p> This website is dedicated to sharing knowledge about our growing technological society. All the new devices
      have been created in this new era have brought a lot of good but at the same time created many dangers and
      inconveniences.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

</div>
<hr>
<strong> Lorem ipsum </strong><em> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim nec dui nunc mattis enim ut. Nec tincidunt praesent semper feugiat nibh sed pulvinar proin gravida. Quam pellentesque nec nam aliquam sem et tortor. Consequat mauris nunc congue nisi vitae. Ut sem nulla pharetra diam sit amet. At tellus at urna condimentum mattis pellentesque id. Sed tempus urna et pharetra pharetra massa. Magna eget est lorem ipsum dolor sit amet consectetur adipiscing. Arcu cursus vitae congue mauris rhoncus. Dignissim convallis aenean et tortor at risus viverra adipiscing at. Vitae semper quis lectus nulla at volutpat. Aliquam purus sit amet luctus venenatis lectus magna fringilla. Tincidunt praesent semper feugiat nibh sed. Felis donec et odio pellentesque diam.

Sed viverra ipsum nunc aliquet bibendum enim facilisis. Velit egestas dui id ornare arcu odio ut sem nulla. Arcu odio ut sem nulla pharetra diam sit amet. Sed turpis tincidunt id aliquet risus feugiat in ante. Cursus turpis massa tincidunt dui ut ornare lectus. Quisque egestas diam in arcu cursus euismod quis. Facilisis mauris sit amet massa vitae. Habitant morbi tristique senectus et netus et malesuada. Nunc congue nisi vitae suscipit tellus mauris. Risus in hendrerit gravida rutrum quisque non tellus. Sed odio morbi quis commodo odio aenean sed adipiscing. Nibh sit amet commodo nulla facilisi. Enim nec dui nunc mattis enim ut. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Tincidunt id aliquet risus feugiat. Diam vel quam elementum pulvinar etiam non quam lacus suspendisse. Sed viverra tellus in hac habitasse platea dictumst vestibulum. Egestas pretium aenean pharetra magna.

    Bibendum est ultricies integer quis auctor elit sed vulputate mi. Vitae elementum curabitur vitae nunc sed velit dignissim sodales ut. Massa ultricies mi quis hendrerit.</em>
<hr>
{% endblock content %}
