<!--Copying default page layout-->
{% extends "layout.html" %}
{% block content %}

<body class="back-img">
<br>
<br>
<br>
<br>
<br>
<br>

<!--<div class="content-section">-->
        <div class="col-md-12">
<div class="login-form">
    <form method="POST" action="">
         <div class="login-text">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <img src="/static/profile_pics/default.jpg" class="avatar">
            <legend class="border-bottom mb-4 text-center">Sign In</legend>

            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                 <!--Customising error pop ups for form-->
                {% if form.email.errors %}
                  {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                 <!--Customising error pop ups for form-->
                {% if form.password.errors %}
                  {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
             <small class="text-muted ml-2">
            <a href="{{ url_for('users.reset_request') }}"> Forgot Password? </a>
        </small>
        </div>
        <small class="text-muted">
        Need An Account? <a class="ml-2" href="{{ url_for('users.register') }}">Sign Up Now</a>
    </small>
         </div>
    </form>
</div>
</div>

{% endblock content %}
