<!--Copying default page layout-->
{% extends "layout.html" %}
{% block content %}

<body class="back-img">
<br>
<br>
<br>
<br>
<br>
<br>
<!--<div class="content-section">-->
        <div class="col-md-12">
<div class="reg-form">
    <!--Method for form-->
    <div class="login-text">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <img src="/static/profile_pics/default.jpg" class="avatar">
            <legend class="border-bottom mb-4 text-center">Join Today</legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                <!--Customising error pop ups for form-->
                {% if form.username.errors %}
                  {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                 <!--Customising error pop ups for form-->
                {% if form.email.errors %}
                  {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                 <!--Customising error pop ups for form-->
                {% if form.password.errors %}
                  {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                 <!--Customising error pop ups for form-->
                {% if form.confirm_password.errors %}
                  {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
        <small class="text-muted">
        Already Have An Account? <a class="ml-2" href="{{ url_for('users.login') }}">Sign In</a>
        </small>
    </form>
    </div>
</div>

        </div>
</div>
{% endblock content %}
